<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Sales Form</title>
  <!-- Include Bootstrap CSS and JS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Include FontAwesome CDN for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-o5V8qvbTEud1lYiQ8VZuWBlRjWJUQFuW5xd8Wg6+E+oqqP0/HaSHjRsSnnqBE+9SM" crossorigin="anonymous">
</head>
<body>

<div class="container col-10 mt-5">
  <div class="card shadow">
    <div class="card-body ">

      <form id="salesForm" method="post" action="{% url 'create_sales' %}" onsubmit="return false;">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <label for="userSelect">Select Customer:</label>
               
                <select class="form-control" id="userSelect" name="user" onchange="fetchUserDetails()">
                  <option >Select Customer</option>
                  {% for sale in user_list %}
                  
                      <option value="{{ sale.id }}">{{ sale.user.username }}</option>
                  {% endfor %}
              </select>
              
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="state">State:</label>
              <input type="text" class="form-control" id="state" name="state" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="zipcode">Zip Code:</label>
              <input type="text" class="form-control" id="zipcode" name="zipcode" readonly>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="address">Address:</label>
              <input type="text" class="form-control" id="address" name="address" readonly>
            </div>
          </div>
        </div>
        <div id="medicineFields" class="form-group">
          <!-- Add medicine, quantity, and amount fields dynamically using JavaScript -->
        </div>
        <button type="button" class="btn btn-primary mt-3" onclick="addMedicineFields()">
          <i class="fas fa-plus"></i> Add Medicine
        </button>
        <div id="dynamicMedicineFields">
          <!-- Dynamic medicine, quantity, and amount fields will be added here -->
        </div>
       
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mt-3">
              <label for="deliveryCharge">Delivery Charge:</label>
              <input type="number" class="form-control" id="deliveryCharge" name="deliverycharge" readonly>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mt-3">
              <label for="totalAmount">Total Amount:</label>
              <input type="text" class="form-control" id="totalAmount" name="totalamount" readonly>
            </div>
          </div>
        </div>
        
       
        <button type="submit" class="btn btn-success">
          <i class="fas fa-check"></i> Sales
        </button>
      </form>

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>

  var medicineData = [];

function initAutocomplete() {
    var dynamicMedicineFields = $('#dynamicMedicineFields');

    dynamicMedicineFields.on('input', '.medicineSearch', function () {
        var inputText = $(this).val().toLowerCase();
        var row = $(this).closest('.row');

        var matches = medicineData.filter(function (medicine) {
            return medicine.medicine_name.toLowerCase().includes(inputText);
        });

        displayMatches(row, matches);
    });

    function displayMatches(row, matches) {
        var autocompleteResults = row.find('.autocompleteResults');
        autocompleteResults.html('');

        matches.slice(0, 5).forEach(function (medicine) {
            var item = $('<div class="autocomplete-item"></div>');
            item.text(medicine.medicine_name);
            item.on('click', function () {
                var selectedMedicine = $(this).text();
                var medicineId = medicine.medicine_id;
                var hsnCode = medicine.medicine_id;
               
                var expiryDate = medicine.expiry_date;
                var discountedPrice = medicine.discounted_price;

                row.find('.medicineSearch').val(selectedMedicine);
                row.find('.medicineId').val(medicineId);
                row.find('.hsnCode').val(hsnCode);
              
                row.find('.expiryDate').val(expiryDate);
                row.find('.quantity').val(1); // Set default quantity to 1
                row.find('.amount').val(discountedPrice);
                

                // Hide autocomplete results after selecting a medicine
                autocompleteResults.css('display', 'none');

                // Call calculateTotalAmount after updating amount fields
                calculateTotalAmount();
            });

            autocompleteResults.append(item);
        });

        // Show or hide the autocomplete results based on matches
        autocompleteResults.css('display', matches.length > 0 ? 'block' : 'none');
    }
}

function addMedicineFields() {
  var dynamicMedicineFields = $('#dynamicMedicineFields');
  var newFields = `
      <div class="row product-row">
          <div class="col-md-3">
              <div class="form-group">
                  <label for="medicine">Select Medicine:</label>
                  <input type="text" class="form-control medicineSearch" name="medicine[]" required>
                  <div class="autocomplete-results autocompleteResults"></div>
                  <input type="hidden" name="medicine_id[]" class="medicineId">
              </div>
          </div>
          <div class="col-md-2">
              <div class="form-group">
                  <label for="hsn_code">HSN Code:</label>
                  <input type="text" class="form-control hsnCode" name="hsn_code[]" readonly>
              </div>
          </div>
         
          <div class="col-md-2">
              <div class="form-group">
                  <label for="expiry_date">Expiry Date:</label>
                  <input type="date" class="form-control expiryDate" name="expiry_date[]" readonly>
              </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" class="form-control quantity" name="quantity[]" value="1" min="1">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="amount">MRP Price:</label>
                <input type="number" class="form-control amount" name="amount[]" readonly>
            </div>
        </div>
        
      </div>
  `;

  dynamicMedicineFields.append(newFields);
  initAutocomplete();
  calculateTotalAmount();
}





$(document).ready(function () {
    $.ajax({
        url: '/search_medicine/',
        type: 'GET',
        success: function (response) {
            medicineData = response;
        },
        error: function (xhr, status, error) {
            console.error('Error fetching initial medicine data:', error);
        }
    });

    initAutocomplete();
});

function fetchUserDetails() {
  var selectedUser = $('#userSelect').val();

  console.log('Selected User:', selectedUser); // Log the selected user ID

  // Make an AJAX request to fetch user details
  $.ajax({
    url: '/get_user_details/',
    type: 'GET',
    data: {
      user_id: selectedUser
    },
    success: function (userDetails) {
      console.log('User Details:', userDetails); // Log the received user details

      // Update the form fields with fetched details
      $('#state').val(userDetails.state || '');
      $('#zipcode').val(userDetails.zipcode || '');
      $('#address').val(userDetails.address || '');
    },
    error: function () {
      console.error('Failed to fetch user details');
    }
  });
}

// Attach the fetchUserDetails function to the change event of userSelect
$('#userSelect').on('change', fetchUserDetails);


function calculateTotalAmount() {
  var totalAmount = 0;
  $('.product-row').each(function () {
      var quantity = parseInt($(this).find('.quantity').val()) || 0;
      var amount = parseFloat($(this).find('.amount').val()) || 0;
      totalAmount += quantity * amount;
  });

  var deliveryCharge = totalAmount <= 599 ? 40 : 0; // If totalAmount is less than or equal to 599, delivery charge is 40; otherwise, 0
  totalAmount += deliveryCharge;

  $('#deliveryCharge').val(deliveryCharge.toFixed(2));
  $('#totalAmount').val(totalAmount.toFixed(2));
}




</script>


</body>
</html>
